.navbar {
    background: #bbdefb;
    min-height: 70px;
    position: fixed;
    width: 100%;
    box-shadow: 0 14px 28px rgba(0, 0, 0, .88), 0 10px 10px rgba(0, 0, 0, .54);
    color: black;
    font-size: calc(10px + 14 * (100vw - 320px)/ 800);
    z-index: 99;
    white-space: nowrap;
}

.navbar ul {
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline-block;
    padding: 26px 0;
    width: 33.3%;
    text-align: center;
    font-weight: bold;
}

.navbar a {
    text-decoration: none;
    color: black;
}

.navbar .correct {
    animation: 2s correct
}

.navbar .incorrect {
    animation: 2s incorrect
}

@keyframes correct {
    0% {
        color: white
    }

    20% {
        color: slateblue
    }

    40% {
        color: teal
    }

    60% {
        color: white
    }

    80% {
        color: teal
    }

    to {
        color: slateblue
    }
}

@keyframes incorrect {
    0% {
        color: #fff
    }

    20% {
        color: maroon
    }

    40% {
        color: red
    }

    60% {
        color: white
    }

    80% {
        color: red
    }

    to {
        color: maroon
    }
}